<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ context.title }}</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="file">FILE:</label>
    <input name="file" id="file" type="file">

    <label for="file_name">FILE NAME:</label>
    <input name="file_name" id="file_name" type="text">

    <button type="submit">
        send
    </button>
</form>
<div>
    {{ result }}
    <a href="{{ result.srt }}" target="_blank">srt download</a>
    <a href="{{ result.vtt }}" target="_blank">vtt download</a>
    <a></a>
    <a></a>
</div>
</body>
</html>
