<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- Favicons -->
    <link href="{% static 'linteq_app/img/favicon.ico'%}" rel="icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'linteq_app/css/style.css' %}" rel="stylesheet">


</head>

<body>
    <div class="sys__container container mt-4">
        <h1 class="sys__title mb-4">Транскрибировать аудио/видео файл в текст</h1>
        <form id="sys__conversion-form conversion-form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="recorder" class="sys__form-label form-label">Загрузить файл</label>
                <input type="file" id="file" name="file" class="sys__form-control form-control" required>
            </div>

            <div class="input-style">
                <div class="mb-3">
                    <label for="model_type" class="sys__form-label form-label">Выбор модели</label>
                    <select id="model_type" name="model_type" class="sys__form-select form-select">
                        <option value="base">базовая</option>
                        <option value="medium">средняя</option>
                        <option value="large">большая</option>
                </select>
                </div>
            </div>

            <div class="input-style">
                <div class="mb-3">
                    <label for="language" class="sys__form-label form-label">Язык оригинала</label>
                    <select id="language" name="language" class="sys__form-select form-select">
                    <option value="ru">Русский</option>
                    <option value="en">Английский</option>
                    <option value="es">Испанский</option>
                    <option value="de">Немецкий</option>
                    <option value="ja">Японский</option>
                    <option value="pl">Польский</option>
                    <option value="it">Итальянский</option>
                    <option value="pt">Португальский</option>
                    <option value="da">Датский</option>
                    <option value="ca">Каталанский</option>
                    <option value="fr">Французский</option>
                    <option value="tr">Турецкий</option>
                    <option value="sv">Шведский</option>
                    <option value="uk">Украинский</option>
                    <option value="ml">Малайский</option>
                </select>
                </div>
            </div>

{#            <div class="input-style">#}
{#                <div class="sys__form-check mb-3 form-check">#}
{#                    <input type="checkbox" id="timestamps" name="timestamps" class="sys__form-check-input form-check-input">#}
{#                    <label for="timestamps" class="sys__form-check-label form-check-label">Добавить субтитры</label>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="file_type" class="sys__form-label form-label">Формат файла с субтирами</label>#}
{#                    <select id="file_type" name="file_type" class="sys__form-select form-select">#}
{#                    <option value="srt">srt</option>#}
{#                    <option value="vtt">vtt</option>#}
{#                </select>#}
{#                </div>#}
{#            </div>#}

            <div class="input-style translate-lang">
                <div class="sys__form-check mb-3 form-check">
                    <input type="checkbox" id="translate-lang" name="translate-lang" class="sys__form-check-input form-check-input">
                    <label for="translate-lang" class="sys__form-check-label form-check-label">Выполнить перевод</label>
                </div>

                <div class="mb-3">
                    <label for="lang" class="sys__form-label form-label">Язык перевода</label>
                    <select id="lang" name="lang" class="sys__form-select form-select">
                        <option value="ru">Русский</option>
                        <option value="en">Английский</option>
                        <option value="es">Испанский</option>
                        <option value="de">Немецкий</option>
                        <option value="ja">Японский</option>
                        <option value="pl">Польский</option>
                        <option value="it">Итальянский</option>
                        <option value="pt">Португальский</option>
                        <option value="da">Датский</option>
                        <option value="ca">Каталанский</option>
                        <option value="fr">Французский</option>
                        <option value="tr">Турецкий</option>
                        <option value="sv">Шведский</option>
                        <option value="uk">Украинский</option>
                        <option value="ml">Малайский</option>
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label for="file_namee" class="sys__form-label form-label">Название файла</label>
                <input type="text" id="file_name" name="file_name" class="sys__form-control form-control">
            </div>

            <div class="d-flex align-items-center mb-3">
                <button type="submit" id="submit" class="btn sys__btn-primary btn-primary">
                    <span class="sys__spinner-border spinner-border spinner-border-sm d-none" id="spinner" role="status" aria-hidden="true"></span>
                    Транскрибировать
                </button>
            </div>
        </form>

    </div>

    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                </div>
            </div>
        </div>

    {{ result }}
    <a href="{{ result.srt }}" target="_blank">srt download</a>
    <a href="{{ result.vtt }}" target="_blank">vtt download</a>
    <a></a>
    <a></a>
    </div>

    <script src="{% static 'linteq_app/js/main.js'%}"></script>


</body>

</html>